# torch.onnx.verification

> 模块：`torch.onnx.verification`


## 函数

| 函数 | 说明 |
|------|------|
| `torch.onnx.verification.verify_onnx_program` | — |

## 类

| 类 | 说明 |
|------|------|
| `torch.onnx.verification.VerificationInfo` | — |
